html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.logo-img {
    margin-top: 25px;
    margin-bottom: 35px;
}

.logo__img {
    width: 30px;
    height: 30px;
}

.logo__text {
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    margin-left: 6px;
    background-image: url("");

}

.menu {
    margin-top: 35px;
}

.menu__item + .menu__item {
    margin-left: 42px;
}

.menu__list {
    display: flex;
}

.menu__link {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    list-style: none;
}

.menu__link:hover {
    border-bottom: 1px solid #fff;
}

.login-btn {
    margin-top: 35px;

}

.login {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    border: 1px solid #0d606f;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #0d606f;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);

}

.header__content {
    background-image: url("../image/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 765px;
}

.search {
    max-width: 892px;
    padding-top: 122px;
}

.search__title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #fff;
    margin-bottom: 40px;

}

.search__descr {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 46px;
}

.field-search {
    border-radius: 16px;
    max-width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);


}

.field-search__input {
    float: left;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 560px; /* Ширина поля */
    height: 24px;
    vertical-align: middle; /* Выравнивание по середине */
    margin-top: 39px;
    margin-left: 41px;
    background: transparent;

}

.field-search__input::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #f2785c;
}

.field-search__input-btn {
    float: right;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    border: 1px solid #0d606f;
    border-radius: 10px;
    padding: 14px 33px;
    background-color: #0d606f;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
    margin-top: 21px;
    margin-right: 21px;
}

.steps-box {
    margin-top: 80px;

}

.steps-box__inner {
}

.title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
    text-transform: uppercase;
    text-align: center;

}

.steps-box__title {
    margin-bottom: 40px;
}

.steps-box__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.steps-box__item {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.steps-box__item-img {
    align-content: center;
    padding-bottom: 30px;

}

.steps-box__item-text {
}

.destination-slider {
    margin-bottom: 40px;
}

.destinations__title {
    margin-bottom: 46px;
}

/*.destination-slider {
    position: relative;
}*/

.destination-slider__item {
    position: relative;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: 60px;
}

.slider__text {
    position: absolute;
    bottom: 40px;
    left: 15px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*Все стили для skick- шпаргалка*/
/* Слайдер */
.slick-slider {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
}

/* Лента слайдов */
.slick-track {
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.destination-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-slider .slick-dots li {
    list-style: none;

}

.destination-slider .slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    margin-left: 0;
    cursor: pointer;
}


.destination-slider .slick-dots li.slick-active button {
    background: #F2785C;
}
.find-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 41px;

}
.find-btn-text{
    display: flex;
    border: 1px solid #0d606f;
    border-radius: 10px;
    background-color: #0d606f;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
}
.find-btn__img{
    margin: 9px 10px 9px 31px;
}
.destination__fined-btn{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin: 18px 31px 14px 0;
}
.travel__title{
    margin-bottom: 40px;
}
.travel__items{
    margin-top: 40px;
}

.travel__item{
    display: flex;
    justify-content: space-between;
    gap: 0 40px;
    margin-bottom: 30px;
}


.travel-inner{
background-image: url("/image/traval-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;

}