/*№1 селектор выберет элемент, одновременно  класс bbb и класс zzz:*/
/*
.bbb.zzz{
    color: red;
}*/

/*№2* селектор выберет элемент, одновременно тег h2, класс bbb и класс/
h2.bbb.zzz{
    color: red;
}
 */

 /*№3 селектор выберет элемент, одновременно id именем elem, класс bbb и класс zzz */
/*
#elem.bbb.zzz {
    color: red;
}*/


/*№5 селектор выберет элемент, одновременно тег h2, id именем elem, класс bbb */
/*
h2#elem.bbb {
    color: red;
}*/

/*№6  селектор выберет элемент, одновременно тег h2 и кдласс zzz*/
/*h2.zzz {
    color: red;
}*/

/*№7 селектор тег h2 и класс zzz отдельно подклчат цвет текста в красный цвет, не одновременно  */
/*h2 .zzz {
    color: red;
}*/

 /*№8 селектор выберет элемент, одновременно  класс bbb и класс zzz*/
.bbb.zzz {
    color: red;
}