body, h2 {
    margin: 0;
    padding: 0;
}


.wrapper {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.ex-1, .ex-2, .ex-3, .ex-4, .ex-5, .ex-6, .ex-7, .ex-8{
    margin: 20px;
    padding: 20px;
    /*width: 300px;*/
    border: 2px solid gray;
}

/*№1*/
.ex-1 input{
    margin: 20px;
}

/*№2*/
.ex-2 input{
    border: 1px solid red;
    margin: 20px;
}

/*№3*/
.ex-3 input{
    width: 150px;
    height: 30px;
    margin: 20px;
}

/*№4*/
.ex-4 form{
    display: flex;
    flex-direction: column;
}
.ex-4 input{
    width: 150px;
    height: 30px;
    margin: 10px;
}

/*№6*/
.ex-6 input{
    color: red;
}
/*№7*/
.ex-7 input{
    margin-left:20px;
}

/*№7*/
.ex-8 form{
    display: flex;
    flex-direction: column;
}
.ex-8 input{
    width: 150px;
    height: 30px;
    margin: 20px;

}







