body, h2 {
    margin: 0;
    padding: 0;
}


.wrapper {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.ex-1, .ex-2, .ex-3, .ex-4, .ex-5, .ex-6, .ex-7 {
    margin: 20px;
    padding: 20px;
    /*width: 300px;*/
    border: 2px solid gray;
}

/*№1*/
.ex-1 li::after {
    content: ".";
}

/*№2*/
.ex-2 span{
    position: relative;
    }
.ex-2 span::after {
    content: "";
    position: absolute;
    top:-10px;
    right: -10px;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    background-color: red;
}

/*№3*/

.ex-3 {
counter-reset: test;
}

.ex-3 h3::before{
    counter-increment: test;
    /*content: counter(test) ". ";*/ /*№3*/
    content: "№" counter(test) " " ; /*№4*/
}


/*№5*/
.ex-5 a{
    position: relative;
}
.ex-5 a:hover::after{
    content: ' (' attr(href) ')';
    position: absolute;
    top: -20px;
    left: -30px;

}




