/* №1
.eee i{
    color: red;
}*/

/*№2  Все элементы с классом bbb внутри блока eee, задать цвет шрифта красный */
.eee .bbb {
    color: red;
}

/*№3 всем элементам h2 внутри блока eee,  задать цвет шрифта красный*/
.eee h2 {
    color: red;
}

/*№4  всем элементам h2  с классом bbb  внутри блока eee, задать цвет шрифта красный */
.eee h2.bbb {
    color: red;
}

/*№5 всем элементам h3  с классом bbb  внутри блока eee, задать цвет шрифта красный*/
.eee h3.bbb {
    color: red;
}

/*№6 Всем элементам тега p с классом bbb внутри блока eee, задать цвет шрифта красный*/
.eee p.bbb {
    color: red;
}

/*№7  классам eee, bbb, kkk, задать цвет шрифта красный*/
.eee .bbb .kkk {
    color: red;
}

