/*№1  все элементы тега p  с классом bbb, задать цвет шрифта  красный*/
p.bbb {
    color: red;
}

/*№2  всем элемнгтам с тегом p и всем классам  с именем bbb, задать цвет шрифта  красный*/
p .bbb {
    color: red;
}

/*№3 всем элементам тега р с классом bbb внутри блока eee, задать цвет шрифта  красный*/
.eee p.bbb {
    color: red;
}

/*№4  все элементы с тегом p и все классы с именем bbb  внутри блока eee задать цвет шрифта  красный*/
.eee p .bbb {
    color: red;
}