/*№1* №2/
#elem1, #elem2, #elem3{
    position: relative;
    width: 100px;
    height: 100px;

}
#elem1{
    border: 1px solid red;
    background-color: red;
    top: 100px;
    left:100px;

}
#elem2{
    border: 1px solid blue;
    background-color: blue;
    top: 60px;
    left: 150px;

}
#elem3{
    border: 1px solid green;
    background-color: green;
    top: 20px;
    left: 200px;
}



