/*№1
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}*/

/*Ответ*/
h1, h2, h3 {
    text-align: center;
}

/*
№2
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: blue;
}
h3 {
    text-align: center;
    font-size: 16px;
    color: red;
}*/

/*Ответ*/
h1, h2, h3 {
    text-align: center
}

h2 {
    color: blue;
}

h3 {
    font-size: 16px;
    color: red;
}

/*№3

h1 {
    text-align: center;
    color: red;
}
h2 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
    font-size: 16px;
    color: red;
}

Ответ*/

h1, h2, h3{
    text-align: center;
    color: red;
}
h3{
    font-size: 16px;
}