body, h2 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #585858;
}


.wrapper {
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    width: 1100px;
    background-color: #8a8787;
    background-image: url("https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?s=612x612&w=0&k=20&c=6mItwwFFGqKNKEAzv0mv6TaxhLN3zSE43bWmFN--J5w=");
    background-repeat: no-repeat;
    background-size: cover;
}

.ex-1, .ex-2, .ex-3, .ex-4,
.ex-5, .ex-6, .ex-7, .ex-8,
.ex-9, .ex-10 {

    margin: 20px;
    padding: 20px;
    /*width: 300px;*/
    border: 2px solid gray;
    background-color: #e3dada;
}

/*div {
    margin: 40px;
}*/

/*№1*/


.ex-1 .parent{
    display: flex;
    width:700px;
    height: 300px;
    border: 1px solid red;
}
.ex-1 .child{
    border: 1px solid green;
    height: 100px;
}
.ex-1 .elem1{
    width: 200px;
}

    /*№2*/

.ex-2 .parent	{
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.ex-2 .child {
    height: 50px;
    border: 1px solid green;
}
.ex-2 .elem1 {
    width: 100px;
}
.ex-2 .elem2 {
    width: 100px;
}
.ex-2 .elem3 {
    width: 100px;
}

/*№3*/

.ex-3 .parent{
    display: flex;
    width:900px;
    height: 300px;
    border: 1px solid red;
}
.ex-3 .child{
    border: 1px solid green;
    height: 100px;
}
.ex-3 .elem1{
    width: 400px;
}
.ex-3 .elem2{
    width: 200px;
}

.ex-4 .parent	{
    display: flex;
    width: 300px;
    height: 200px;
    border: 1px solid red;
}
.ex-4 .child {
    height: 50px;
    border: 1px solid green;
}
.ex-4 .elem1 {
    width: 300px;
}
.ex-4 .elem2 {
    width: 100px;
}
.ex-4 .elem3 {
    width: 100px;
}

.ex-5 {

}

.ex-6 div {

}

.ex-7 div {

}

.ex-8 div {

}


.ex-9 div {

}

.ex-10 div {

}








