/*№1*/
.parent {
    display: flex;

    /*№1*/
    /*flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;*/

    /*№2*/
    /*flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/

    /*№3*/
    /*flex-direction: column;
    justify-content: center;
    align-items: flex-end;*/

    /*№4*/
    /*flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;*/

    /*№5*/
    /*flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;*/

    /*№6*/
    /*flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;*/

    /*№7*/
    /*flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;*/

    /*№8*/
    /*flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;*/

    /*№8*/
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;


    width: 900px;
    height: 400px;
    padding: 0;
    border: 1px solid red;
    margin: 20px auto;
}

.child {
    width: 120px;
    height: 60px;

    border: 1px solid green;

}