body, h2{
    margin: 0;
    padding: 0;
}


.wrapper {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.ex-1, .ex-2, .ex-3, .ex-4, .ex-5, .ex-6, .ex-7, .ex-8 {
    margin: 20px;
    padding: 20px;
    /*width: 300px;*/
    border: 2px solid gray;
}

/*№1*/
.ex-1 p{
    color: #FFEEAA;
}

.ex-2 p{
background-color: #000000;
    color: #ffffff;
}

.ex-3 p {
color: #ffc8ff;
}

.ex-4 {


}

.ex-5{

}
.ex-5{


}
.ex-5{

}








