.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background: rgba(242, 120, 92, 0.7);
	box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.logo-img {
	margin-top: 25px;
	margin-bottom: 35px;
}

.logo__img {
	width: 30px;
	height: 30px;
}

.logo__text {
	font-family: 'Magra', sans-serif;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #fff;
	margin-left: 6px;

}

.menu {
	margin-top: 35px;
}

.menu__item + .menu__item {
	margin-left: 42px;
}

.menu__list {
	display: flex;
}

.menu__link {
	font-family: 'Red Hat Text', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
}

.menu__link:hover {
	border-bottom: 1px solid #fff;
}

.login-btn {
	margin-top: 35px;

}

.login {
	font-family: 'Red Hat Text', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	border: 1px solid #0d606f;
	border-radius: 10px;
	padding: 10px 30px;
	background-color: #0d606f;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);

}

.header__content {
	background-image: url("../../image/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 765px;


}

.search {
	max-width: 892px;
	padding-top: 122px;
}
.search__title{
	font-family: 'Aleo', serif;
	font-weight: 700;
	font-size: 80px;
	line-height: 96px;
	color: #fff;
	margin-bottom: 40px;

}

.search__descr{
	font-family: 'Aleo', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	padding-bottom: 46px;
}

.field-search{
	border-radius: 16px;
	max-width: 892px;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);


}

.field-search__input{
	float: left;
	border: none; /* Убираем рамку */
	outline: none; /* Убираем свечение в Chrome и Safari */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 560px; /* Ширина поля */
	height: 24px;
	vertical-align: middle; /* Выравнивание по середине */
	margin-top: 39px;
	margin-left: 41px;
	background: transparent;

}

.field-search__input::placeholder{
	font-family: 'Aleo', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	color: #f2785c;
}

.field-search__input-btn{
	float: right;
	font-family: 'Red Hat Text', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	border: 1px solid #0d606f;
	border-radius: 10px;
	padding: 14px 33px;
	background-color: #0d606f;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
	margin-top: 21px;
	margin-right: 21px;
}
