.first{
	height: 765px;
	background-image: url("../../image/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);
	padding: 122px 428px 228px 120px;
}
.first__title {
	font-family: 'Aleo-Regular', sans-serif;
	font-size: 80px;
	line-height: 96px;
	color: var(--white-color);

}
