body, h2 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #585858;
}


.wrapper {
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    width: 900px;
    background-color: #8a8787;
    background-image: url("https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?s=612x612&w=0&k=20&c=6mItwwFFGqKNKEAzv0mv6TaxhLN3zSE43bWmFN--J5w=");
    background-repeat: no-repeat;
    background-size: cover;
}

.ex-1, .ex-2, .ex-3, .ex-4,
.ex-5, .ex-6, .ex-7, .ex-8,
.ex-9, .ex-10 {

    margin: 20px;
    padding: 20px;
    /*width: 300px;*/
    border: 2px solid gray;
    background-color: #e3dada;
}

div {
    margin-top: 20px;
    border: 1px solid black;
}

/*№1*/
.ex-1 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(#55ddff,#0081b5);
}

.ex-2 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(at 100px 0, #55ddff,#0081b5);
}

.ex-3 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #55ddff,#0081b5);
}

.ex-4 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle closest-side, #55ddff,#0081b5);
}

.ex-5 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle closest-side at 20px 20px, #55ddff,#0081b5);
}

.ex-6 div {

    width: 200px;
    height: 200px;
    background: radial-gradient(#55ddff 10px,#55ddff 15px, white 30px,white 40px,#0081b5 60px);
}

.ex-7 div {
    width: 200px;
    height: 200px;
    background: radial-gradient(#0081b5 20px, white 20px,white 40px,#0081b5 40px);
}

.ex-8 div {

}

.ex-9 div {

}

.ex-10 div {

}








